    /* -------------------------------------------------------------------------------------------------------------------
    appel des fonctions de pour le corps */
    body {
        padding: 0 30px 10px 30px;
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
    }
    /* -----------------------------parametrage header via fonction flexboxet----------------*/
    header {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo img {
        width: 50%;
        }
    li a{
        margin-right: 1em;
    }
    li a:hover {
        border-top: 2px solid;
        border-color: #0065FC;
        color: #0065FC;
        padding-top: 2em;
    }
    #nav1 {
        margin-left: 45%;
    }
        /* --------------------------parametrage fonction recherche  via fonction flexbox---------*/
    .titre_principal {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
    .fa-map-marker-alt:before {
        background: #F2F2F2;
        padding: 5px 7px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .topnav {   
        padding: 10px;
        display: inline-flex;
        align-items: baseline;
        margin-top: 1em;
    }
    input[type="text" i] {
        font-size: 1.15em;
        height: 100%;
        border: hidden;
    }
    .topnav button {
        color: rgb(255, 253, 253);
        background-color: #0065FC;
        padding: 5px 6px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border: hidden;
    }
    .fa-search {
        display: none;
        padding: 10px;
    }
    nav {
        display: inline-flex;
        justify-content: flex-start;
        align-items: baseline ;
    }
    nav button {
        color: black;
        background-color:white;
        height: 40px;
        padding-left: unset;
        border-radius: 30px;
        border-color: #DEEBFF;
        border-style: solid;
        margin-left: 1em;
    }
    nav button {
        transition-duration: 0.4s;
    }
      
    nav button:hover {
        background-color: #0065FC; /* Green */
        color: white;
    }
    .fa-money-bill-wave-alt:before {
        background: #DEEBFF;
        padding: 13px;
        color: #0065FC;
        border-color: #DEEBFF;
        border-radius: 30px;
        margin-right: 0.5em;
    }
    .fa-child:before {
        background: #DEEBFF;
        padding: 13px;
        color: #0065FC;
        border-color: #DEEBFF;
        border-radius: 30px;
        margin-right: 0.5em;
    }
    .fa-heart:before {
        background: #DEEBFF;
        padding: 13px;
        color: #0065FC;
        border-color: #DEEBFF;
        border-radius: 30px;
        margin-right: 0.5em;
    }
    .fa-dog:before {
        background: #DEEBFF;
        padding: 13px;
        color: #0065FC;
        border-color: #DEEBFF;
        border-radius: 30px;
        margin-right: 0.5em;
    }
    #informations {
        display: inline-flex;
        align-items: baseline;
        margin-right: 0.5em;
    }
    .fa-info-circle:before {
        background: #0065FC;
        color: white;
        border-radius: 60px;
        border-color: #DEEBFF;
        border-style: solid 2px ;
        margin-right: 0.5em;
    }
    
    /* -------------------------------------- parametrage taille police boutons-------------------*/
    h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: unset;
    }
    h2 {
        font-size: 1.3em;
        font-weight: bold;
    } 
    h3 {
        font-size: 1.2em;
        margin-bottom: unset;
    }
    li {
        color:#181818;
        list-style-type: none
    }
    a:-webkit-any-link {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    .fa-star {
        color: #0065FC;
        width: 0.4em;
        padding-right: 0.7em;
        margin-bottom: 0.5em;
    }
    /* --------------------------parametrage div hebergement de *ville* / div populaires via fonction flexbox-------------------*/
    section {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
    } 
    /* ---------------------------parametrage gestion div hebergements via fonction flex box----------------------------------*/
    .titre1 {
        margin-left: 5%;
        display: flex;
    }
    #liste_hebergements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        width: 65%;
        background-color: #F2F2F2;
        border-radius: 30px;
    }
    .titre1 {
        width: 100%;
    }
    .hebergements{   
        align-content: center;
        margin-bottom: 1.5%;
        height: auto;
        width: 27%;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 8px 6px -6px rgb(78, 77, 77);
    }
    .hebergements img {
        justify-items: center;
        width: 95%;
        height: 150px; 
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border: 5px;
        border-style: solid;
        border-color: white;
        overflow: hidden;
        object-fit: cover;
    }
    .hebergements h3 {
        margin-top: 0%;
        padding-left: 5%;
    }
    .hebergements p {
        margin-top: 1%;
        margin-bottom: 2%;
        padding-left: 5%;
    }
    .more {
        width: 100%;
        margin-top: 3%;
        margin-left: 2.5%;
    }
    .rating {
        padding-left: 5%;
    }
    /*----------------------------------------parametrage gestion div populaires via fonction grid------------------------------*/
    .titre2 {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        background-color: #F2F2F2;
        border-radius: 30px;
    }
    .populaire {
        display: grid;
        grid-template-columns: 40% 55%;
        grid-gap: 10px;
        width: 80%;
        height: fit-content;
        background-color: white;
        border-radius: 30px;
        margin-bottom: 1.5%;
        box-shadow: 0 8px 6px -6px #6e6969;
    }
    .populaire img {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 180px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 5px;
        border-style: solid;
        border-color: white;
        justify-self: flex-start;
        overflow: hidden;
        object-fit: cover;
    }
    .populaire h3 {
        grid-column: 2;
        grid-row: 1;
        margin-top: 8%;
    }
    .populaire p {
        grid-column: 2;
        grid-row: 1;
        margin-top: 40%;
    }
    .ratingpop {
        grid-column: 2;
        grid-row: 1;
        margin-top: 70%;
    }
    /* --------------------------parametrage div activite via fonction flexbox----------------------------------*/
    .titre3 {
        width: 100%;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1%;   
    }
    main h3 {
        padding-left: 2%;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }
    .activite1 {
        border-radius: 20px;
        width: 24%;
        box-shadow: 0 8px 6px -6px #6e6969;
    }
    .activite1 img {
        width: 100%;
        height: 520px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .activite2 {
        width: 24%;
        border-radius: 30px;
        box-shadow: 0 8px 6px -6px #6e6969;
    }
    .activite2 img {
        width: 100%;
        height: 228px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .titr_activite2 {
        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0 8px 6px -6px #6e6969;
    }
    /* ----------------------------------parametrage footer via fonction flex box--------------------------*/
    footer {
        display: flex;
        align-content: flex-end;
        background-color: #F2F2F2;
    }
    .footreservia {
        width: 30%;
        align-self: flex-start;
        align-items: stretch;
    }
    .footreservia h2 {
        padding-inline-start: 2%;
    }
    ul {
        padding-left: 2%;
    }
    .footreservia li a:hover{
        border-top: unset;
        border-bottom: 0px solid;
        padding-top: unset;
    }
/*------------------------------------------------------------------------------------------------------------------------------------------------
--------------------version mobile tous modèles------------------------------*/
@media screen and (max-device-width: 880px)
{
    /*-------parametrage body------------*/
    body {
        justify-content: center;
        font-size: 90%;
        padding: unset;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
    /*--------parametrage header------------*/
    #logo{
        order: 1;
        width: 50%;
        padding-left: 1rem;
    }
    li a:hover{
        border-top: unset;
        border-bottom: 0px solid;
        padding-top: unset;
    }
    #nav1{
        margin-left: unset;
        order:3;
        padding-left: 10%;
        padding-right: 10%;
    }
    #nav1:hover{
        border-bottom: 2px solid;
        border-color: #0065FC;
        color: #0065FC;
        padding-bottom: 0.5em;
    }
    #nav2{
        order: 4;
        padding-left: 10%;
        padding-right: 10%;
    }
    #nav2:hover{
        border-bottom: 2px solid;
        border-color: #0065FC;
        color: #0065FC;
        padding-bottom: 0.5em;
    }
    #nav3{
        order: 2;
        font-weight: bold;
        padding-right: 2em;
    }
    .titre_principal h1 {
        font-size: 2em;
    }
    /*----------parametrage fonction recherche-----------*/
    .topnav button {
        display: none;
    }
    .fa-search {
        display: inline;
    }
    .fa-search::before {
        background: #DEEBFF;
        padding: 13px;
        color: #0065FC;
        border-color: #DEEBFF;
        border-radius: 30px;
        margin-right: 0.5em;
    }
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
    }
    nav h2 {
        width: 100%;
    }
    #eco {
        margin-right: 5%; 
    }
    #famille{
        margin-right: 10%;
    }
    #romantique{
        margin-right: 50%;
    }
    #animaux{
        margin-right: 50%;
    }
    section {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
    }
    
    /*-------------parametrage div hebergements------------------*/
    #liste_hebergements {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-radius: 30px;
    }
    .hebergements {
        width: 100%;
        height: fit-content;
        border-radius: 30px;
        box-shadow: 0 8px 6px -6px #6e6969;
    }
    .hebergements h2 {
        margin-bottom: 0%;
    }
    .hebergements h3 {
        padding-left: 2%;
    }
    .hebergements p {
        padding-left: 2%;
        margin-bottom: unset;
    }
    .rating {
        padding-left: 2%;
    }
    
    .hebergements img {
        width: 100%;
        height: 220px; 
    }
    /*---------------------parametrage div populaire-----------------*/
    .populaires {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        border-radius: 30px;
    }
    .populaire img {
        height: 12em;
    }
    .ratingpop {
        margin-top: 75%;
    }
    .populaire {
        width: 95%;
    }
    .populaire h2 {
        margin-top: 8%; 
    }
    .populaire p {
        margin-top: 30%;
    }
    /*---------------parametrage div activite -----------------*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .activite1 {
        border-radius: 20px;
        width: 100%;
        box-shadow: 0 8px 6px -6px #6e6969;
        margin-bottom: 1em;
    }
    .activite1 img {
        width: 100%;
        height: 250px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .activite2 {
        width: 100%;
        margin-bottom: 1em;
    }
    .activite2 img {
        width: 100%;
        height: 250px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    /*-------------------------parametrage footer-------------------------*/
    footer {
        display: flex;
        flex-direction: column;
        padding-right: 0%;
        height: auto;
        width: 100%;
    }
    .footreservia {
        width: 85%;
        align-self: center;
        align-items: stretch;
    }
}