
#reservia
{
    width: 950px;
    margin: auto;
}
body 
{
    display: block;
    margin: 60px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo img
{
    width:  120px;
    height: 55px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

#tamere
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.liste_hebergements
{
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    width: 900px;
}
.hebergements
{
    display: inline-block;
}
.populaires
{
    display: flex;
    flex-direction: column;
}
#activites
{
    display: flex;
}
footer
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
footer ul
{
    
    
}
